<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchers.tripsketch_back.repository.AccountMapper">
    <update id="updateEnabledToEmail">
        update
            user_tb
        set
            enabled = 1
        where
            email = #{email}
    </update>
    <update id="updatePassword">
        update
            user_tb
        set
            password = #{password}
        where
            email = #{email}
    </update>

    <delete id="deleteUser">
        delete from
            user_tb
        where
            user_id = #{userId}
    </delete>
    <delete id="deleteTrip">
        delete from
            trip_tb
        where
            trip_id = #{tripId}
    </delete>
    <select id="findTripsByUserId" resultType="com.sketchers.tripsketch_back.entity.Trip">
        select
        	trip_id,
        	user_id,
        	title,
        	start_date,
        	end_date,
        	ko_name as tripDestinationKoName
        from
        	trip_tb tt
        	left outer join trip_destination_tb tdt on(tdt.trip_destination_id = tt.trip_destination_id)
        where
            user_id = #{userId}
        ORDER BY
            CASE
                WHEN NOW() >= start_date AND end_date >= NOW() THEN 0  -- 여행 중
                WHEN start_date = CURRENT_DATE THEN 1                  -- D-Day
                WHEN start_date > NOW() THEN 2                         -- 미래
                ELSE 3                                                 -- 과거
            END,
            CASE
                WHEN NOW() >= start_date AND end_date >= NOW() THEN start_date  -- 여행 중: 시작 빠른 순
                WHEN start_date = CURRENT_DATE THEN start_date                  -- D-Day: 오늘
                WHEN start_date > NOW() THEN start_date                         -- 미래: 오름차순
                ELSE end_date                                                   -- 과거: 종료일 기준 내림차순
            END
            ASC,  -- ASC지만 마지막은 DESC로 조절해야 함
            CASE
                WHEN start_date > NOW() THEN NULL
                WHEN start_date = CURRENT_DATE THEN NULL
                WHEN NOW() >= start_date AND end_date >= NOW() THEN NULL
                ELSE end_date
            END DESC  -- 과거 일정만 DESC로 재조정
    </select>
</mapper>
