<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sketchers.tripsketch_back.repository.TripMapper">
    <insert id="insertTrip" useGeneratedKeys="true" keyProperty="tripId">
        insert into trip_tb
        values(
            0,
            #{userId},
            #{title},
            #{startDate},
            #{endDate},
            #{tripDestinationId},
            #{transportType}
        )
    </insert>
    <update id="updateTrip">
        UPDATE trip_tb
        SET
            title = #{title},
            start_date = #{startDate},
            end_date = #{endDate},
            trip_destination_id = #{tripDestinationId},
            transport_type = #{transportType}
        WHERE trip_id = #{tripId}
    </update>
    <delete id="deletePlaceStoresByTripId">
        delete from place_store_tb
        where trip_id = #{tripId}
    </delete>
    <delete id="deleteAccommodationsByTripId">
        DELETE FROM accommodation_tb
        WHERE trip_id = #{tripId}
    </delete>

    <select id="findByGooglePlaceId" resultType="com.sketchers.tripsketch_back.entity.Place">
        SELECT *
        FROM place_tb
        WHERE google_place_id = #{googlePlaceId}
    </select>

    <select id="findTripByTripId" resultType="com.sketchers.tripsketch_back.entity.Trip">
        SELECT
            trip_id,
            user_id,
            title,
            start_date,
            end_date,
            ko_name as tripDestinationKoName,
            tt.trip_destination_id,
            transport_type
        from
            trip_tb tt
            left outer join trip_destination_tb tdt on(tdt.trip_destination_id = tt.trip_destination_id)
        where
            trip_id = #{tripId}
    </select>

    <select id="findStoredPlaceByTripId" resultType="com.sketchers.tripsketch_back.entity.PlaceStore">
        SELECT *
        FROM place_store_tb
        WHERE trip_id = #{tripId}
    </select>

    <select id="findStoredAccByTripId" resultType="com.sketchers.tripsketch_back.entity.Accommodation">
        SELECT *
        FROM accommodation_tb
        WHERE trip_id = #{tripId}
    </select>

    <select id="findTripScheduleByTripId" resultType="com.sketchers.tripsketch_back.entity.TripSchedule">
        SELECT *
        FROM trip_schedule_tb
        WHERE trip_id = #{tripId}
    </select>
    <select id="findPlaceByPlaceId" resultType="com.sketchers.tripsketch_back.entity.Place">
        SELECT *
        FROM place_tb
        WHERE place_id = #{placeId}
    </select>
    <select id="findPlaceByPlaceStoreId" resultType="com.sketchers.tripsketch_back.entity.Place">
        SELECT
            pt.place_id,
            pt.google_place_id,
            pt.name,
            pt.address,
            pt.latitude,
            pt.longitude,
            pt.category,
            pt.rating
        FROM
            place_tb pt
            left outer join place_store_tb pst on(pst.place_id = pt.place_id)
        where
            place_store_id = #{placeStoreId}
    </select>
    <select id="findTripDestinationByTdId" resultType="com.sketchers.tripsketch_back.entity.TripDestination">
        select
            en_name,
            ko_name,
            low_lat,
            low_lng,
            high_lat,
            high_lng,
            img
        from
            trip_destination_tb
        where
            trip_destination_id = #{tripDestinationId}
    </select>

    <insert id="insertPlace" useGeneratedKeys="true" keyProperty="placeId">
        INSERT INTO place_tb
        VALUES (
            0,
            #{googlePlaceId},
            #{name},
            #{address},
            #{latitude},
            #{longitude},
            #{category},
            #{rating},
            #{photoReference}
        )
    </insert>

    <insert id="insertPlaceStore" useGeneratedKeys="true" keyProperty="placeStoreId">
        INSERT INTO place_store_tb
        VALUES (
            0,
            #{placeId},
            #{tripId}
        )
    </insert>

    <insert id="insertAccommodation" useGeneratedKeys="true" keyProperty="accommodationId">
        INSERT INTO accommodation_tb
        VALUES (
            0,
            #{tripId},
            #{placeId},
            #{checkInDate},
            #{checkOutDate}
        )
    </insert>
</mapper>